<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        @*<form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>*@
        <form method="post" action="/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out cookies</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="/Login">Login Cookies</a>
        <a href="/Register">Register</a>
    </NotAuthorized>
</AuthorizeView>
