@{ 
    Layout = null;
}

<h1>회원가입</h1>

<form action="/Register" method="post">
    아이디: <input type="text" id="email" name="email"><br />
    암호: <input type="password" id="password" name="password"/><br />
    <input type="submit" value="회원가입"/>
</form>